<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Quiz Page
    </title>
    <style>
        .box{
        height:500px;
        width:600px;
        background-color:lightgreen;
        margin-top:50px;
        padding:10px;
        }
    </style>
</head>
<h1 align="center">
    Quiz
</h1>
<body style="background-color:lightyellow">
<div align="center">
<form action="/result" method="POST" class="box">
<ol>
{% for i in selectques%}
    <li style="margin:10px;"> {{i}} </li>
    {%for j in ques[i]%}
    <input type="radio" value="{{j}}" name="{{i}}">{{j}}
    {%endfor%}
{% endfor %}
    </ol>
    <input type="submit" value="submit" style="margin:10px;">
    </form>
</div>
</body>
</html>